@media (max-width: 768px) {
	.header {
		&__burger {
			display: block;
		}
		&__menu {
			position: fixed;
			top: 0;
			right: 0;
			width: 70%;
			height: 100%;
			flex-direction: column;
			padding: 80px 20px;
			background: $black; /* фон можно переопределить */
			transform: translateX(100%);
			z-index: 1000;
		}
		&__menu.active {
			transform: translateX(0);
		}
	}
}
